
.videos {
    /* background: #A3A3A3; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.video {
    border-radius: 7px;
    margin: 10px;
    padding: 0;
    border: 1px solid #555555;
    background: #202225;
    width: 300px;
    cursor: pointer;
    color: #B9BBBE;
    display: flex;
    flex-direction: column;
}

.video-pfp img {
    border-radius: 100%;
    padding: 10px;
    max-width: 40px;
}

.video-header {
    display: flex;
    align-items: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #2F3136;
    width: 100%;
}

.video-username h2 {
    font-size: 20px;
    padding: 0 5px;
}

.video-name {
    text-align: left;
    padding: 10px;
    background: #202225;
    flex-grow: 1;
    font-size: 14px;
}

.cold {
    color: #60a9da;
    font-weight: bold;
    align-self: center;
    padding: 5px 0;
}

.video-thumbnail {
    text-align: center;
    width: 300px;
    position: relative;
}

.video-thumbnail img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.video-thumbnail-time {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background: rgba(33, 33, 33, 0.90);
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 5px;
}

.video-date {
    padding: 0 10px 10px;
    font-size: 14px;
    color: #616161;
    display: flex;
}

.restricted {
    border-radius: 7px;
    border: 1px solid #555555;
    background: #202225;
    color: #B9BBBE;
    padding: 20px 40px;
    line-height: 150%;
}

.green_outline {
    border: 1px solid #19753f;
}

.load-more {
    text-align: center;
    margin: 10px 0;
}

.load-more button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid #555555;
    background: #202225;
    color: #B9BBBE;
}

.search-box {
    border-radius: 7px;
    border: 1px solid #555555;
    background: #202225;
    color: #B9BBBE;
    padding: 20px 40px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-box .search {
    align-items: center;
    display: flex;
}

.search-box label {
    display: block;
    padding: 0 15px 0 0;
}

.search-box input {
    display: block;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #B9BBBE;
    background: #36393F;
    color: #B9BBBE;
}

.search-box select {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #B9BBBE;
    background: #36393F;
    color: #B9BBBE;
    margin: 0 10px 0 0;
}

@media (max-width: 820px) {
    .search-box {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        max-width: 100%;
    }
    
    .search-box label {
        padding: 0 0 10px;
    }

    .search-box .search {
        width: 100%;
        flex-direction: column;
    }

    .search-box .search input {
        width: 100%;
    }

    .search-box select {
        margin: 20px 0 0;
        width: 100%;
        display: block;
    }
}
