
<div class="main">
    <div class="header"> 
        <div class="header-text">Livestream Editor <span>Collaberatively edit livestreams</span></div>
    </div>
    <div class="block1">
        <h2>What Is This</h2>
        <p>
            <b>Livestream Editor</b> is a cloud-based web application that allows the community to collaberatively edit the highlights for streamers with other members in the community in real time. As new highlights are added, other editors instantly see them in their list. The web application is lightweight and works on most browsers, phones and tablets.
        </p>
    </div>
    <div class="block1 block2">
        <h2>Video Editor</h2>
        <img src="{{staticUrl}}/home1.jpg">
    </div>
    <div class="block1">
        <h2>How To Take Part</h2>
        <p>
            If you would like to take part in helping edit livestreams, click "log in" at the top and log into the website using Twitch. Once you've logged in, you should see an error saying you do not have permission. Send an email to editors@livestreameditor.com requesting that you would like access and your Twitch username, or message the right person in Discord.
        </p>
    </div>
    <div class="block1 block2">
        <h2>Streams List</h2>
        <img src="{{staticUrl}}/home1.1.jpg">
    </div>
    <div class="block1">
        <h2>How It Works</h2>
        <p>
            When a streamer that the website follows finishes their livestream, the website will automatically download the stream archive and add it to the website. It can take upwards of 4 hours for this processing to complete.
        </p>
        <p>
            Once the website finishes, members of the community can view the editor page for that archive. They can play through the footage and mark start and end points. Each pair of start and end points is called a segment. After a segment is added, a moderator will review it and either mark it as a green check (approved) or a red X (rejected). 
        </p>
    </div>
    <div class="block1 block3">
        <h2>Segments List</h2>
        <img src="{{staticUrl}}/home2.jpg">
    </div>
    <div class="block1">
        <h2>Final Product</h2>
        <p>
            Once all segments have been reviewed, a moderator can export the video. This will generate an mp4 file which is called an artifact. This mp4 is all of the segments sowed together into one video. From there, the streamer can download the mp4 and immedately upload it to YouTube or edit it further.
        </p>
    </div>
    <div class="block1 block3">
        <h2>Editor Controls</h2>
        <img src="{{staticUrl}}/home3.jpg">
    </div>
    <div class="block1">
        <h2>How To Use Editor Controls</h2>
        <p>
            The editor has several buttons to control the video and segments.
        </p>
        <ol>
            <li>The current time in seconds of the video</li>
            <li>The starting time of the segment</li>
            <li>The ending time of the segment</li>
            <li>Skip backwards 45 seconds</li>
            <li>Skip backwards 0.10 seconds</li>
            <li>Stop the video and go back to where first started playing or last place seeked</li>
            <li>Pause the video, click again to resume</li>
            <li>Play the video</li>
            <li>Skip forwards 0.10 seconds</li>
            <li>Skip forwards 45 seconds</li>
            <li>Set start of segment to the current time. This will place an orange bar on the timeline</li>
            <li>Seek to the start of the segment</li>
            <li>Seek to the end of the segment</li>
            <li>Set end of segment to the current time. This will place an orange bar on the timeline</li>
            <li>Stop when reach end of segment. Light-grey means function is on. Click button to toggle</li>
            <li>Add segment to the list on the right, seek to the end of the segment, and close the segment</li>
        </ol>
    </div>
    <div class="block1 block3">
        <h2>Segment Controls</h2>
        <img src="{{staticUrl}}/home4.jpg">
    </div>
    <div class="block1">
        <h2>How To Use Editor Controls</h2>
        <p>
            Segments have a few buttons for control.
        </p>
        <ol>
            <li>View the segment. This will set the video's start and end segment to this segment's start and end</li>
            <li>View the segment and autoplay the video</li>
            <li>Delete the segment</li>
        </ol>
        <p>
            In the future, there will be the ability for others to like segments to help moderator filter through segments.
        </p>
    </div>
    <div class="block1 block3">
        <h2>Editor Controls When Viewing Segment</h2>
        <img src="{{staticUrl}}/home5.jpg">
    </div>
    <div class="block1">
        <h2>How To Edit A Segment</h2>
        <p>
            It's easy to go back and edit a segment. In the segment list, click the View or Play button. Adjust the start and end points of the segments and then click the save button (labeled 2 in the image above). A segment cannot be edited if it is marked as approved or rejected unless you are a moderator.
        </p>
    </div>
    <div class="block1 block3">
        <h2>Timeline Controls</h2>
        <img src="{{staticUrl}}/home6.jpg">
    </div>
    <div class="block1">
        <h2>How To Control The Timeline</h2>
        <ol>
            <li>(Moderators only) Generate artifact</li>
            <li>Zoom out on the timeline</li>
            <li>Zoom in on the timeline</li>
            <li>Toggle autoplaying the next approved segment (must be already viewing a segment)</li>
            <li>Toggle autoplaying the next approved segment or pending review segment (must have autoplay toggled)</li>
        </ol>
    </div>
</div>
