
<div>
    <div class="header">
        <h2>Users</h2>
        <div>
        </div>
    </div>
    <ul>
        <li *ngFor="let user of users">
            <div class="streamer-box">
                <img src="{{ user.pfp }}">
                <div class="streamer-info">
                    <p>
                        <select [(ngModel)]="user.streamer_groups" multiple (change)="updateStreamerGroup(user)">
                            <ng-container *ngFor="let group of streamerGroups">
                                <option value="{{group.uid}}">{{group.name}}</option>
                            </ng-container>
                        </select>
                        <select [(ngModel)]="user.group" (change)="updateGroup(user, $event.target.value)">
                            <option value=-1>Restricted</option>
                            <option value=0>Editor</option>
                            <option value=1>Moderator</option>
                            <option value=2>Admin</option>
                        </select>
                        {{ user.display_name }}
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>