
h2 {
    color: #B9BBBE;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    background: #B9BBBE;
    color: #36393F;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    border: 1px solid #36393F;
}

.streamer-box {
    display: flex;
    align-items: center;
}

.streamer-container {
    border: 1px solid #555555;
    background: #2F3136;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streamer-box img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.streamer-info {
    display: flex;
    padding: 0 0 0 20px;
    color: #B9BBBE;
    flex-direction: column;
}

.streamer-id {
    color: #B9BBBE;
    text-align: right;
    width: 35px;
    padding: 0 20px 0 0;
    font-size: 22px;
}

.streamer-info p {
    padding: 5px 0;
}

.streamer-info a {
    color: #B9BBBE;
}

select {
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #B9BBBE;
    background: #36393F;
    color: #B9BBBE;
    margin: 0 10px 0 0;
}

.streamer-edit button {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    background: #B9BBBE;
    color: #36393F;
    text-align: center;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    border: 1px solid #36393F;
}

@media (max-width: 820px) {
    .streamer-container {
        flex-direction: column;
    }
    .streamer-box {
        flex-direction: column;
        word-break: break-all;
    }

    .streamer-box img {
        padding: 15px 0;
        max-width: 100%;
    }
}

.popup {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -175px;
    background: #40444B;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #B9BBBE;
    color: #B9BBBE;
    overflow: auto;
}

@media (max-width: 400px) {
    .popup {
        max-width: 100%;
        margin: -360px 0 0 0;
        left: 0;
        right: 0;
    }
}

.popup h2 {
    padding: 0 0 10px 0;
}

.popup fieldset {
    padding: 10px 0;
    display: flex;
}

.popup label {
    display: block;
    padding: 0 0 5px 0;
}

.popup input {
    display: block;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #B9BBBE;
    background: #36393F;
    color: #B9BBBE;
}

.popup select {
    width: 100%;
}


.popup .popup-submit {
    display: block
}

.popup button {
    background: #B9BBBE;
    color: #36393F;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    border: 1px solid #36393F;
    margin: 0 10px 0 0;
}